appdirs==1.4.3
attrs==19.3.0
cached-property==1.5.1
certifi==2019.11.28
chardet==3.0.4
Click==7.0
defusedxml==0.6.0
Flask==1.1.1
Flask-Threads==0.0.1a0
idna==2.8
isodate==0.6.0
itsdangerous==1.1.0
Jinja2==2.10.3
lxml==4.9.1
MarkupSafe==1.1.1
pytz==2019.3
requests==2.22.0
requests-toolbelt==0.9.1
six==1.13.0
urllib3==1.25.7
Werkzeug==0.16.0
zeep==3.4.0
